<div class="flipdown-canvas">
    <div class="flipdown-controls">
        <div id="{{pauseId}}" class="flipdown-controls__control">
            <i class="fas fa-pause"></i>
            Pause
        </div>
        <div id="{{restartId}}" class="flipdown-controls__control">
            <i class="fas fa-arrow-rotate-left"></i>
            Restart
        </div>
    </div>
    <div id="{{canvasId}}" class="flipdown"></div>
    <div id="{{remainingTimeId}}" class="flipdown-canvas__textoverlay"></div>
    <button id="{{durationIncrementDecrease}}" class="flipdown-decrement"><</button>
    <button id="{{durationIncrementIncrease}}" class="flipdown-increment">></button>
</div>